<!-- From: https://www.cnblogs.com -->
<div id="sideBar">
    <div id="sideBarMain">

        <div id="sidebar_c3"></div>
        <div id="leftcontentcontainer">
            <div id="blog-sidecolumn">
                <!-- 搜索 -->
                <div id="sidebar_search" class="sidebar-block">
                    <div id="sidebar_search" class="mySearch">
                        <h3 class="catListTitle">搜索</h3>
                        <div id="sidebar_search_box">
                            <input type="search" id="search-input" placeholder="search...">
                            <ul id="results-container"></ul>
                        </div>
                    </div>
                </div>

                <!-- 常用链接 -->
                <!-- 最新随笔 -->
                <div id="sidebar_recentposts" class="sidebar-block">
                </div>
                <!-- 我的标签 -->
                <!-- 积分与排名 -->
                <!-- 随笔分类、随笔档案、文章分类、新闻分类、相册、链接 -->
                <div id="sidebar_categories">
                </div>
                <!-- 最新评论 -->
                <!-- 阅读排行榜 -->
                <!-- 评论排行榜 -->
                <!-- 推荐排行榜 -->
            </div>
            <!-- <script>loadBlogSideColumn();</script> -->
            
        </div>
    </div>
    <!--end: sideBarMain -->
</div>